Pyrogram
TgCrypto
pytgcalls[pyrogram]==2.0.0.dev1
python-dotenv
youtube_dl
youtube_search_python
requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg
Pillow
python-arq
future
psutil
wget
